{{ 'custom-news.css' |  asset_url |  stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top_sp }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom_sp }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_pc }}px;
      padding-bottom: {{ section.settings.padding_bottom_pc }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width section-{{ section.id }}-padding c-news__inner">

      <h2 class="c-news__title">{{ section.settings.title }}</h2>
      <div class="c-news__card">
        <div class="c-news__lists">
          

          
          {% for block in section.blocks %}
                {% assign article = articles[block.settings.article] %}
                <a href="{{ article.url }}" class="c-news__list c-news-link">
                  <div class="c-news-link__meta">
                    <time class="c-news-link__date" datetime="{{ article.published_at }}">{{ article.published_at | date: "%Y年%m月%d日" }}</time>
                    
                    {% if article.tags.size == 1 %}
                      {% for tag in article.tags %}
                        {% if tag contains 'news' or tag contains 'column' or tag contains 'event' %}
                          <div class="c-news-link__label is-{{ tag | split: '_' | first }}">
                            {{ tag | split: '_' | last  }}
                          </div>
                        {% else %}
                          <div class="c-news-link__label">
                            {{ tag }}
                          </div>
                        {% endif %}
                      {% endfor %}
                    {% elsif article != blank %}
                      <div class="c-news-link__label">
                        お知らせ
                      </div>
                    {% endif %}
                  </div>
                  <h3 class="c-news-link__title">{{ article.title }}</h3>
                </a>

      
            
          {% endfor %}
        </div>
        {% comment %} <div class="c-news__link"><a href="{{ blog.url }}">もっとみる</a></div> {% endcomment %}
      </div>
  </div>
</div>



{% schema %}
{
  "name": "NEWSセクションブロック",
  "tag": "section",
  "class": "section custom-section c-news",
  "settings": [
    {
      "type": "header",
      "content": "NEWSセクションの設定"
    },
    {
      "type": "text",
      "id": "title",
      "label": "セクションのタイトルを入力してください"
    },

    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top_pc",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_pc",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "header",
      "content": "モバイルの上下の余白"
    },
    {
      "type": "range",
      "id": "padding_top_sp",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 33
    },
    {
      "type": "range",
      "id": "padding_bottom_sp",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 27
    }
  ],
  "blocks": [
    {
      "type": "block_article",
      "name": "記事",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "記事を選択してください"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "NEWSセクションブロック"
    }
  ]
}
{% endschema %}

